  <!-- Site footer -->
  <footer class="site-footer">
     <div class="container">
       <div class="row">
         <div class="col-sm-12 col-md-6">
           <h6>About</h6>
           <p class="text-justify">We are a company that sells small pets at reasonable prices, and these pets are 100% original and enjoy vitality and activity with permanent and health care, and we will make ewcommendations to ensure that this pet is treated well, And we will be happy to do business with you.</p>
         </div>

         <div class="col-xs-6 col-md-3">
           <h6>Categories</h6>
           <ul class="footer-links">
             <li><a href="http://scanfcode.com/category/front-end-development/">Cats</a></li>
             <li><a href="http://scanfcode.com/category/back-end-development/">Dogs</a></li>
             <li><a href="http://scanfcode.com/category/java-programming-language/">Birds</a></li>
             <li><a href="http://scanfcode.com/category/android/">Small pets</a></li>
             <li><a href="http://scanfcode.com/category/templates/">Accessories</a></li>
           </ul>
         </div>

         <div class="col-xs-6 col-md-3">
           <h6>Quick Links</h6>
           <ul class="footer-links">
             <li><a href="http://scanfcode.com/about/">About Us</a></li>
             <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
             <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
           </ul>
         </div>
       </div>
       <hr>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-6 col-xs-12">
           <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
        <a href="#">Scanfcode</a>.
           </p>
         </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
           <ul class="social-icons">
             <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
             <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
             <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>   
           </ul>
         </div>
       </div>
     </div>
</footer>
