<div class="row">
  <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let dog of dogs" (click)="onSelect(dog)"  style="border-radius: 25px; width: 425px;height: 300px;">
    <div class="img-container m-0 p-0 shadow-sm">
      <img src="{{dog.images[0]}}" class="img-center img-fluid img-showcase" style="border-radius: 25px; width: 425px;height: 300px;">
      <div class="overlay d-flex flex-column align-items-center justify-content-center" style="border-radius: 25px; width: 425px;height: 300px; margin-left: 22px;">
        <h2>{{dog.name}}</h2>
        <p class="d-block small ">{{dog.price}} EGP</p>
      </div>
    </div>
  </div>
</div>