<div class="container mt-2">
      <div class="row" style="margin-bottom: 150px;margin-top: 50px;">
        <div class="col-md-4 col-sm-6">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="fas fa-dog" style="font-size: 30px;"></i></h4>
        <img src="https://www.dogbreedslist.info/uploads/allimg/dog-pictures/Yorkshire-Terrier-2.jpg" alt="Photo of sunset" routerLink="/lightdogdetails">
            <h5 class="card-title mt-3 mb-3">	German Shepherd</h5>
            <p class="card-text">Purebred</p> 
      </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card card-block">
            <h4 class="card-title text-right"><i class="fas fa-dog" style="font-size: 30px;"></i></h4>
        <img src="https://www.dogbreedslist.info/uploads/allimg/dog-pictures/Cavalier-King-Charles-Spaniel-2.jpg" alt="Photo of sunset" routerLink="/lightdogdetails">
            <h5 class="card-title  mt-3 mb-3">Golden Retriever</h5>
            <p class="card-text">Purebred</p> 
      </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card card-block">
            <h4 class="card-title text-right"><i class="fas fa-dog" style="font-size: 30px;"></i></h4>
        <img src="https://www.dogbreedslist.info/uploads/allimg/dog-pictures/Shih-Tzu-2.jpg" alt="Photo of sunset" routerLink="/lightdogdetails">
            <h5 class="card-title  mt-3 mb-3">Boxer</h5>
            <p class="card-text">Purebred</p> 
      </div>
        </div>
      </div>
    </div>