<!-- <div class="container contstyle">
  <div class="row">
    <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let heavy of heavysmallpet" (click)="showdetails(heavy)" >
      <div class="img-container m-0 p-0 shadow-sm">
        <img src="{{heavy.image[0]}}" class="img-center img-fluid img-showcase" style="width: 350px;height: 250px;">
        <div class="overlay d-flex flex-column align-items-center justify-content-center">
          <h2>{{heavy.name}}</h2>
          <p class="d-block small ">{{heavy.price}} EGP</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
