<div class="container contstyle">
    <div class="row">
        <div class="col-4">
                <div class="card animate" style="width:350px">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/turtle-on-white-background-600w-139076318.jpg">
                        <div class="card-body">
                          <p class="card-title">small turtle</p>
                          <p class="card-text">Some example text.</p>
                        

                        </div>
                      </div>
          
        </div>

        <div class="col-4">
                <div class="card animate" style="width:350px">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/turtle-on-white-background-600w-139076318.jpg">
                        <div class="card-body">
                          <p class="card-title">small turtle</p>
                          <p class="card-text">Some example text.</p>
                        

                        </div>
                      </div>
          
        </div>  
        
        <div class="col-4">
                <div class="card animate" style="width:350px">
                        <img class="card-img-top" src="https://image.shutterstock.com/image-photo/turtle-on-white-background-600w-139076318.jpg">
                        <div class="card-body">
                          <p class="card-title">small turtle</p>
                          <p class="card-text">Some example text.</p>
                        

                        </div>
                      </div>
          
        </div>
    </div>
</div>
