   
  <nav class="navbar navbar-expand-sm navcolor navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="https://cdn5.vectorstock.com/i/1000x1000/81/29/pet-shop-logo-template-original-design-colorful-vector-17888129.jpg" >
    </a>
  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link navMARG" routerLink="/">HOME</a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          CATS
        </a>
        <div class="dropdown-menu style">
          <div class="divMenu">
          <a class="dropdown-item itemStyle" routerLink="/all-cats">ALL</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" routerLink="/light-cats">LIGHT WEIGHT</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" routerLink="/normal-cats">NORMAL WEIGHT</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" routerLink="/heavy-cats">HEAVY WEIGHT</a>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          DOGS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink="dogs/alldogs">ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink="dogs/lightdogs">LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink="dogs/normaldogs">NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink="dogs/heavydogs">HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          BIRDS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          SMALL PETS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/all'>ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/light'>LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle"routerLink='smallpets/normal'>NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/heavy'>HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item">
        <a class="nav-link navMARG" routerLink='/accessories'>ACCESSORIES</a>
      </li>
    </ul>
  </nav>