<!-- <nav class="navbar  navcolor navbar-dark">

    <a class="navbar-brand" href="#">
      <img src="https://cdn5.vectorstock.com/i/1000x1000/81/29/pet-shop-logo-template-original-design-colorful-vector-17888129.jpg" >
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">CATS
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">DOGS
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIGHT WEIGHT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NORMAL WEIGHT</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="#">HEAVY WEIGHT</a>
        </li>    
      </ul>
    </div>  

    <div class="collapse navbar-collapse" id="collapsibleNavbar1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">ALL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIGHT WEIGHT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NORMAL WEIGHT</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="#">HEAVY WEIGHT</a>
        </li>    
      </ul>
    </div>  
    
  </nav> -->
  <nav class="navbar navbar-expand-sm navcolor navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="https://cdn5.vectorstock.com/i/1000x1000/81/29/pet-shop-logo-template-original-design-colorful-vector-17888129.jpg" >
    </a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link navMARG" href="#">HOME</a>
      </li>
     
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          CATS
        </a>
        <div class="dropdown-menu style">
          <div class="divMenu">
          <a class="dropdown-item itemStyle" href="#">ALL</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" href="#">LIGHT WEIGHT</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" href="#">NORMAL WEIGHT</a>
          </div>
          <div class="divMenu">
          <a class="dropdown-item itemStyle" href="#">HEAVY WEIGHT</a>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          DOGS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          BIRDS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          SMALL PETS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" href="#">HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item">
        <a class="nav-link navMARG" href="#">ACCESSORIES</a>
      </li>
    </ul>
  </nav>