   
     
<nav class="menu">
  <ol>
    <li class="menu-item"><a routerLink="/">HOME</a></li>
    
    <li class="menu-item">
      <a href="#0">Cats</a>
      <ol class="sub-menu">
        
        <li class="menu-item"><a routerLink="/heavy-cats">Heavy cats</a></li>
        <li class="menu-item"><a routerLink="/light-cats">Light cats</a></li>
        <li class="menu-item"><a routerLink="/normal-cats">Normal cats</a></li>
        <li class="menu-item"><a routerLink="/all-cats">All</a></li>
      </ol>
    </li>
    
    <li class="menu-item">
      <a href="#0">Dogs</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="dogs/heavydogs">Heavy dogs</a></li>
        <li class="menu-item"><a routerLink="dogs/lightdogs">light dogs</a></li>
        <li class="menu-item"><a routerLink="dogs/normaldogs">Normal dogs</a></li>
        <li class="menu-item"><a routerLink="dogs/alldogs">All</a></li>
      </ol>
    </li>
  
    <li class="menu-item">
      <a href="#0">Birds</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="/heavy-birds">Heavy birds</a></li>
        <li class="menu-item"><a routerLink="/light-birds">Light birds</a></li>
        <li class="menu-item"><a routerLink="/normal-birds">Normal birds
        </a></li>
        <li class="menu-item"><a routerLink="/all-birds">All</a></li>
      </ol>
    </li>
    
    <li class="menu-item">
      <a href="#0">Small pets</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink='smallpets/heavy'>Heavy pets</a></li>
        <li class="menu-item"><a routerLink='smallpets/light'>Light pets</a></li>
        <li class="menu-item"><a routerLink='smallpets/normal'>Normal pets</a></li>
        <li class="menu-item"><a routerLink='smallpets/all'>All</a></li>
      </ol>
    </li>
    <li class="menu-item"><a routerLink="/accessories">Accssesories</a></li>
    <li class="menu-item"><a routerLink="dashboard"><i class="fas fa-user-cog"></i></a></li>
  </ol>
</nav>
  

  
  
  
  
  
  
  
  

  


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          SMALL PETS
        </a>
        <div class="dropdown-menu style">
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/all'>ALL</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/light'>LIGHT WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle"routerLink='smallpets/normal'>NORMAL WEIGHT</a>
            </div>
            <div class="divMenu">
            <a class="dropdown-item itemStyle" routerLink='smallpets/heavy'>HEAVY WEIGHT</a>
            </div>
          </div>
        </li>
  

      <li class="nav-item">
        <a class="nav-link navMARG" routerLink='/accessories'>ACCESSORIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navMARG" routerLink="/user/Login"><i class="fas fa-user-plus"></i></a>
      </li>
    </ul>
  </nav> --> 