<nav class="menu " style="margin-top: -80px;">
     <ol>
       <li class="menu-item"><a><i class="fas fa-arrow-circle-left"></i></a></li>
 
       <li class="menu-item">
         <a>Cats</a>
         <ol class="sub-menu">
          <li class="menu-item"><a routerLink="/light-cat-admin">Light cats</a></li>
          <li class="menu-item"><a routerLink="/normal-cat-admin">Medium cats</a></li>
           <li class="menu-item"><a routerLink="/heavy-cat-admin">Heavy cats</a></li>
          
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Dogs</a>
         <ol class="sub-menu">
          <li class="menu-item"><a routerLink="/light-dog-admin">light dogs</a></li>
          <li class="menu-item"><a routerLink="/normal-dog-admin">Medium dogs</a></li>
           <li class="menu-item"><a routerLink="/heavy-dog-admin">Heavy dogs</a></li>
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Birds</a>
         <ol class="sub-menu">
          <li class="menu-item"><a  routerLink="/lightbirds_admin">Light birds</a></li>
          <li class="menu-item"><a  routerLink="/normalbirds_admin">Medium birds
            </a></li>
           <li class="menu-item"><a  routerLink="/heavybirds_admin">Heavy birds</a></li>
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Small pets</a>
         <ol class="sub-menu">
          <li class="menu-item"><a routerLink="/lightsmall_admin">Light pets</a></li>
          <li class="menu-item"><a routerLink="/normalsmall_admin">Medium pets</a></li>
           <li class="menu-item"><a routerLink="/heavysmall_admin">Heavy pets</a></li>
           
 
         </ol>
       </li>
       <li class="menu-item"><a routerLink="/accessories_admin">Accssesories</a></li>
       <li class="menu-item"><a routerLink="/addnewadmin">Add Admin</a></li>
 
     </ol>
   </nav>
