<nav class="menu " style="margin-top: -70px;">
     <ol>
       <li class="menu-item"><a><i class="fas fa-arrow-circle-left"></i></a></li>
 
       <li class="menu-item">
         <a>Cats</a>
         <ol class="sub-menu">
          <li class="menu-item"><a routerLink="/light-cat-admin">Light cats</a></li>
          <li class="menu-item"><a routerLink="/normal-cat-admin">Medium cats</a></li>
           <li class="menu-item"><a routerLink="/heavy-cat-admin">Heavy cats</a></li>
          
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Dogs</a>
         <ol class="sub-menu">
          <li class="menu-item"><a routerLink="/light-dog-admin">light dogs</a></li>
          <li class="menu-item"><a routerLink="/normal-dog-admin">Medium dogs</a></li>
           <li class="menu-item"><a routerLink="/heavy-dog-admin">Heavy dogs</a></li>
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Birds</a>
         <ol class="sub-menu">
          <li class="menu-item"><a>Light birds</a></li>
          <li class="menu-item"><a>Medium birds
            </a></li>
           <li class="menu-item"><a>Heavy birds</a></li>
           
 
         </ol>
       </li>
 
       <li class="menu-item">
         <a>Small pets</a>
         <ol class="sub-menu">
          <li class="menu-item"><a>Light pets</a></li>
          <li class="menu-item"><a>Medium pets</a></li>
           <li class="menu-item"><a>Heavy pets</a></li>
           
 
         </ol>
       </li>
       <li class="menu-item"><a routerLink="/accessories_admin">Accssesories</a></li>
 
     </ol>
   </nav>
