<app-dashboard-navbar></app-dashboard-navbar> 






    

  
<app-dashboard-navbar></app-dashboard-navbar>
<div class="container-fluid" >
       <div class="row">
            <div class="col-sm-6">
<br>
<div class="right_div">

  <i class="fas fa-server" style="width: 100px; height: 100px; color: brown; margin: auto;"></i>
  <hr>
</div>

              </div>
              <div class="col-sm-6">
<br>
                <div class="left_div">
                  hello
                  <hr>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
    <br>
    <div class="right_div">
    
      <i class="fas fa-server" style="width: 100px; height: 100px; color: brown; margin: auto;"></i>
      <hr>
    </div>
    
                  </div>
                  <div class="col-sm-6">
    <br>
                    <div class="left_div">
                      hello
                      <hr>
                    </div>
                  </div>
                  </div>
              </div>


  
