<app-dashboard-navbar></app-dashboard-navbar> 






    

  

 <div class="main_container">

 


    <div class="container">
      <div class="row">
        
          <div class="card">
            <div class="card-head">
              <img src="" alt="logo" class="card-logo">
              <img src="" alt="Shoe" class="product-img">
              <div class="product-detail">
                <h2>Hartbeespoort</h2> 
              </div>
              <span class="back-text">
                      FAS
                    </span>
            </div>
            <div class="card-body">
              <div class="product-desc">
                <span class="product-title">
                        Hartbee<b>spoort</b>
                        <span class="badge">
                          New
                        </span>
                </span>
                <span class="product-caption">
                        Basket Ball Collection
                      </span>
                <span class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                      </span>
              </div>
              <div class="product-properties">
                
               
                <span class="product-price">
                        USD<b>23,453</b>
                      </span>
                
              </div>
            </div> 
 </div> 
          </div>
     
        
        
        
        
        
        <div class="yt">
          <a href="https://www.youtube.com/watch?v=jYAmKNOJ4Ck" target="_blank">
            <img width="151" src="" alt="" />
          </a>
        </div>




      </div>
   
  </div>  
