
<div class="centerflipcards">
     <div class="square-flip">
         <div class='square' data-image="">
             <div class="square-container">
                 <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
              
             </div>
             <div class="flip-overlay"></div>
         </div>
         <div class='square2' data-image="">
             <div class="square-container2">
                 <div class="align-center"></div>
                 
                 <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
             </div>
             <div class="flip-overlay"></div>
         </div>
     </div>
 
     <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
 
      <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
   
   <div class="clearfix"></div>
   
   
   <br/>
   <br/>
   <br/>
   
 </div>
 

 <div class="centerflipcards">
     <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
 
      <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
 
      <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
   
   <div class="clearfix"></div>
   
   
   <br/>
   <br/>
   <br/>
   
 </div>
 <div class="centerflipcards">
     <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
 
      <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
 
      <div class="square-flip">
          <div class='square' data-image="">
              <div class="square-container">
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""></div>
               
              </div>
              <div class="flip-overlay"></div>
          </div>
          <div class='square2' data-image="">
              <div class="square-container2">
                  <div class="align-center"></div>
                  
                  <div class="align-center"><img src="https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="boxshadow" alt=""><h1>mir</h1></div>
              </div>
              <div class="flip-overlay"></div>
          </div>
      </div>
   
   <div class="clearfix"></div>
   
   
   <br/>
   <br/>
   <br/>
   
 </div>
 
 
 
 
 

 
 
 
 

 
 
 
 

