<div class="container">
  <div class="row" style="margin-bottom: 100px;">
    <div class="col-md-4 mt-4" *ngFor="let bird of birds"  (click)=" showdetails(bird)">
      <div class="card profile-card-5" >
          <div class="card-img-block">
              <img class="card-img-top" src="{{bird.img}}" alt="Card image cap">
          </div>
              <div class="card-body pt-0">
              <h4 class="card-title">{{bird.name}}</h4>
              <h5 class="card-text">Price: {{bird.price}} $</h5>
              <h5 class="card-text">Length: {{bird.length}} cm</h5>
              <h5 class="card-text">Color: {{bird.color}}</h5>
              <a href="#" class="action-button shadow animate blue">cart</a>
              <a href="#" class="action-button shadow animate yellow" style="margin-left: -10px;">wishlist</a>
              
            </div>
          </div>
  </div>
  </div>
</div>

