
.contstyle{
	margin-top: 60px;
	margin-bottom: 60px;
 }
 .img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
   }
  .img-showcase {
	width: 100%;
	height: 100%;
	object-fit: cover;
   }
   .img-container {
	  display: block;
	  position: relative;
   }
   .link-overlay {
	color: #fff;
	text-decoration: none;
   }
   .link-overlay:hover {
	color: #000;
	background-color: #fff;
	transition: all 0.75s ease-in-out;
	text-decoration: none;
   }
   .workItem {
	display: none;
   }
   .show-workItem {
	display: block;
	transition: all .35s ease;
   }
   .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	color: #fff;
	transition: all 0.5s ease-in-out;
	text-align: center;
	padding-top: 130px;
   }
   .overlay:hover {
	opacity: 1;
   }
   
   .custom-pagination{
	text-align: center;
   }
   
    .custom-pagination .page-number{
	 width: 50px;
	 height: 50px;
	display: inline-block;
	 padding-top: 15px;
	 padding-left: 10px;
	background: #064EA5;
	margin: 5px 4px;
	border-radius: 50%;
	border: 2px inset ivory;
 }
  
 .page-number.current{
	background: #72A1DC!important;
	border: 2px solid #F3EAF3;
	width: 25px;
	height: 25px;
 }
   
 .page-number span{
	display: block;
	width: 25px;
	height: 25px;
	font-size: 18px;
	cursor: pointer;
   
	
 } 




.carousel-fade .carousel-item {
	height:100%;
  }
  
  .carousel-fade .carousel-item img {
	height:100vh;
	width:100%;
	max-width:100%;
	background-size:cover;
	background-origin:content-box;
	background-clip:content-box;
	background-position:center;
	color:rgba(0,0,0,0.56);
	filter:brightness(30%);
	right:0;
	left:0;
	resize:both;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
	background:none;
	border:2px solid #fff;
	height:60px;
	width:60px;
	line-height:55px;
	opacity:9 !important;
	filter:brightness(100%) !important;
	font-size:40px;
	border-radius:100%;
  }
  
  .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	background:#fff;
	opacity:9;
	color:#000;
  }
  
  .la {
	opacity:99;
	z-index:1;
	position:relative;
  }
  
  .carousel-indicators li {
	background:#000;
	color:#000;
	height:30px;
	width:30px;
	margin:5px !important;
	border-radius:100%;
  }
  
  .carousel-caption {
	top:220px;
  }
  
  @media (min-width: 992px) {
	.carousel-caption {
	  top:220px !important;
	}
  }
  
  .carousel-caption h3 {
	font-size:70px;
	text-align:center;
	font-weight:bold;
  }
  
  @media (min-width: 992px) {
	.carousel-caption h3 {
	  font-size:70px !important;
	  text-align:center;
	  font-weight:bold;
	}
  }
  
  .carousel-caption p {
	font-size:30px;
	margin-top:20px;
	text-align:center;
  }
  
  @media (min-width: 992px) {
	.carousel-caption p {
	  font-size:30px !important;
	  margin-top:20px;
	  text-align:center;
	}
  }
  
  .carousel-caption .btn {
	border:2px solid #fff;
	border-radius:0;
  }
  
  @media (min-width: 300px) {
	.img-fluid.w-100.d-block {
	  height:auto;
	}
  }
  
  @media (min-width: 576px) {
	.img-fluid.w-100.d-block {
	  height:auto;
	}
  }
  
  @media (min-width: 768px) {
	.img-fluid.w-100.d-block {
	  height:auto;
	}
  }
  
  @media (min-width: 992px) {
	.img-fluid.w-100.d-block {
	  height:100vh;
	}
  }
  
  @media (min-width: 300px) {
	.carousel-caption {
	  top:0;
	  font-size:20px;
	}
  }
  
  @media (min-width: 300px) {
	.carousel-caption h3 {
	  font-size:20px;
	}
  }
  
  .carousel-caption p {
	font-size:15px;
  }
  
  @media (min-width: 768px) {
	.carousel-caption {
	  top:100px;
	}
  }
  
  @media (min-width: 768px) {
	.carousel-caption h3 {
	  font-size:40px;
	}
  }
  

h1{
	font-size:60px;   
	font-family: MV Boli;
	margin: auto;
	text-align: center;
	color:black;
	margin: 30px;
   }
  
   .mpdi_p{
	   margin-top: 150px;
	   color: black;
   }
   p{
	   text-align: center;
	   font-size: large;
	   font-family:MV Boli ; 
	   
   }
   .first_icon{
	 margin-left: 300px;
	width: 50px;
	height: 50px;
    
   }
   .fou_icon{
	margin-left: 350px;
   }
   .thu_icon{
	 margin-left: 150px;  
   }
   .fiv_icon{
	  margin-left:30px ; 
   }
   .six_icon{
	   margin-left: 300px;
	   margin-top: 2px;
   }
   .mpdi_pp{
	color: lemonchiffon;
	margin-top: 100px;
	font-size: 25px;
   }
   .paragraph{
	   text-align: center;
	   width: 500px;
	  
	   color: black;
	   margin-top: 50px;
   }
   .sec_p{
margin-top: 100px;

   }
   .imgg{
	   width: 100%;
	   border-radius: 50px;
   
   }
   .f_img{
	  border-radius: 70px; 
	  margin-top: 70px;
	  width: 400px;
	  height: 300px;
   }