

<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"><img class="img-fluid w-100 d-block" src="https://wallpapercave.com/wp/Yey3Tff.jpg" alt="Slide Image">
            <div class="carousel-caption">
                <h3 class="animated slideInDown">Pet Shop</h3>
                <p class="animated slideInLeft">Find Your favourite pet</p><button class="btn btn-outline-light btn-lg animated slideInUp" type="button">Read More</button></div>
        </div>
        <div class="carousel-item"><img class="img-fluid w-100 d-block" src="https://cdn.pixabay.com/photo/2018/07/13/10/20/cat-3535404_960_720.jpg" alt="Slide Image">
            <div class="carousel-caption">
                <h3 class="animated fadeInDown">Pet Shop</h3>
                <p class="animated slideInUp">Find Your favourite pet</p><button class="btn btn-outline-light btn-lg animated slideInLeft" type="button">Read More</button></div>
        </div>
        <div class="carousel-item"><img class="img-fluid w-100 d-block" src="https://www.hd-freewallpapers.com/latest-wallpapers/birds-hd-pics-wallpaper.jpg" alt="Slide Image">
            <div class="carousel-caption">
                <h3 class="animated slideInDown">Pet Shop</h3>
                <p class="animated slideInLeft">Find Your favourite pet</p><button class="btn btn-outline-light btn-lg animated slideInUp" type="button">Read More</button></div>
        </div>
        <div class="carousel-item"><img class="img-fluid w-100 d-block" src="http://s1.picswalls.com/wallpapers/2014/07/17/hamster-picture_110541854_51.jpg" alt="Slide Image">
            <div class="carousel-caption">
                <h3 class="animated slideInDown">Pet Shop</h3>
                <p class="animated slideInLeft">Find Your favourite pet</p><button class="btn btn-outline-light btn-lg animated slideInUp" type="button">Read More</button></div>
        </div>
        <div class="carousel-item"><img class="img-fluid w-100 d-block" src="https://images6.alphacoders.com/414/thumb-1920-414233.jpg" alt="Slide Image">
            <div class="carousel-caption">
                <h3 class="animated slideInDown">Pet Shop</h3>
                <p class="animated slideInLeft">Find Your favourite pet</p><button class="btn btn-outline-light btn-lg animated slideInUp" type="button">Read More</button></div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"><i class="fas fa-chevron-circle-left"></i></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
            role="button" data-slide="next"><span class="carousel-control-next-icon"><i class="fas fa-chevron-circle-right"></i></span><span class="sr-only">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
    </ol>
</div>
<div class="container-fluid" style="background-color:lightgoldenrodyellow">
    <!-- Landing -->
         
    
         <!-- who we are -->
         <div class="row">
              <div class="col-sm-4">
    
    
              </div>
              <div class="col-sm-4">
                   <div>
    
                        <h1>
                             Who we are?
                        </h1>
                        <div class="paragraph">
                             <p>
                                  Seeking a challenging position in society and a reputable company where my academic
                                  background and interpersonal skills are well developed and utilized . 
    
    
                             </p>
                        </div>
                   </div>
              </div>
              <div class="col-sm-4"></div>
         </div>
         <div class="row">
              <div class="col-sm-6">
                   <img src="https://images.pexels.com/photos/46024/pexels-photo-46024.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="f_img">
              </div>
              <div class="col-sm-4">
                   <p>
                        Seeking a challenging position in society and a reputable company where my academic background and
                        interpersonal skills are well developed and utilized . I am looking for a job to gain experience, I
                        am looking for a position with company that enables me to utilize all of my skills and
                        qualifications.h
    
    
                   </p>
              </div>
    
         </div>
         <!--  end who we are -->
         <div class="row">
              <div class="col-sm-12">
                   <!-- slider -->
    
              </div>
         </div>
    
         <div class="row" >
              <div class="col-sm-6">
                   <p class="mpdi_p">
                        Seeking a challenging position in society and a reputable company where my academic background and
                        interpersonal skills are well developed and utilized . I am looking for a job to gain experience, I
                        am looking for a position with company that enables me to utilize all of my skills and
                        qualifications.l
    
    
                   </p>
    
              </div>
              <div class="col-sm-6">
    
                   <img src="https://images.pexels.com/photos/1938123/pexels-photo-1938123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        class="imgg">
              </div>
         </div>
         <!-- nucleo icons -->
         <div class="row" style="background-color: #333333;">
              <div class="col-sm-6">
                   <pre>
    <span class="first_icon"><img src="https://image.flaticon.com/icons/svg/1530/1530857.svg" style="width: 70px;height: 70px;"></span>
     <span  class="sec_icon" ><img src="https://image.flaticon.com/icons/svg/1530/1530856.svg" style="width: 70px;height: 70px;"></span>
               
     <img  src="https://image.flaticon.com/icons/svg/1303/1303474.svg" style="width: 70px;
    height: 70px; margin-left: 300px;">
     <div class="thu_icon"><img src="https://image.flaticon.com/icons/svg/616/616568.svg" style="width: 70px;height: 70px;"></div>  
                <span><img src="https://image.flaticon.com/icons/svg/427/427487.svg" style="width: 70px;height: 70px;"></span>
    
                <div class="fiv_icon"><img src="https://image.flaticon.com/icons/svg/570/570687.svg" style="width: 70px; height: 70px;margin-left: 100px;"></div> 
    
                          <div class="fou_icon"><img src="https://image.flaticon.com/icons/svg/403/403882.svg" style="width: 70px;height: 70px;"></div> 
    
     
    <span><i class="fas fa-rabbit"></i></span>
    
            
          
         </pre>
              </div>
              <div class="col-sm-6">
                   <p class="mpdi_pp">
                        Seeking a challenging position in society and a reputable company where my academic background and
                        interpersonal skills are well developed and utilized . I am looking for a job to gain experience, I
                        am looking for a position with company that enables me to utilize all of my skills and
                        qualifications.l
    
    
                   </p>
              </div>
         </div>
         <div class="row">
              <div class="col-sm-12">
                   <!-- random-->
    
              </div>
         </div>
    </div>
