<div class="accordian space">
    <ul>
        <li>
            <div class="image_title">
                <a href="#">Dogs</a>
            </div> 
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                <img src="https://wallpapercave.com/wp/Yey3Tff.jpg" style="width: 640px;height: 320px;"/>
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">cats</a>
            </div>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                <img src="https://cdn.pixabay.com/photo/2018/07/13/10/20/cat-3535404_960_720.jpg" style="width: 640px;height: 320px;"/>
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">Birds</a>
            </div>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                <img src="https://www.hd-freewallpapers.com/latest-wallpapers/birds-hd-pics-wallpaper.jpg" style="width: 640px;height: 320px;"/>
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">Hamster</a>
            </div>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                <img src="http://s1.picswalls.com/wallpapers/2014/07/17/hamster-picture_110541854_51.jpg" style="width: 640px;height: 320px;"/>
            </a>
        </li>
        <li>
            <div class="image_title">
                <a href="#">Turtles</a>
            </div>
            <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                <img src="https://images6.alphacoders.com/414/thumb-1920-414233.jpg" style="width: 640px;height: 320px;"/>
            </a>
        </li>
    </ul>
</div>