<!-- <div class='bold-line'></div> -->
<div class='container'>
        <div class='window'>
          <div class='overlay'></div>
          <div class='content'>
            <div class='welcome'>Birds Form</div>
            <!-- <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div> -->
            <div class='input-fields'>
               
              <input type='text' placeholder='images' class='input-line full-width' >
              <input type='text' placeholder='name' class='input-line full-width' >
    
              <input type='text' placeholder='length' class='input-line full-width'>
              <input type='text' placeholder='weight' class='input-line full-width'>
              <input type='text' placeholder='weight' class='input-line full-width'>
              <input type='text' placeholder='color' class='input-line full-width'>
              <input type='text' placeholder='price' class='input-line full-width'>
              <input type='text' placeholder='life span' class='input-line full-width'>
              <input type='text' placeholder='temperament' class='input-line full-width'>
              
            </div>
            <!-- <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div> -->
            <div><button class='ghost-round full-width'>Add</button></div>
          </div>
        </div>
      </div>
    