<div class="wrapper" style="background-image: url(https://slidesgo.com/storage/43151/46QvIDHG1qe9HTAE17zBYhu_BTDmZ5kzj_x1koZN1Lj8M2tzBhK23MkLgv4Tm6Z2pIW0HZZuq7SvZvtUKxwwyEazJ2Mu_MJVWe1bHtO1ZX2jcQSjiqUjmh6vTf7PWq19kVW2sHlN9ET3MxCYF2kqt3AfyxHVYy6kxgU8a6s5ZDw0tVzYb556gAHNximEkmL-77xomQ%3Ds1600.png);">
    <div class="inner" style="box-sizing: border-box;">
        <form #login="ngForm"  (ngSubmit)="onSubmit()">
            <h3>Registration Form</h3>
            <div class="form-wrapper" style="font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email" required placeholder="email" 
[class.is-invalid]="email.invalid && email.touched" #email="ngModel">
<small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is Required</small>
            </div>
            <div class="form-wrapper" style="font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="userModel.password" required placeholder="password"
        [class.is-invalid]="password.invalid && password.touched" #password="ngModel">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is Required</small>
            </div>
            <div class="checkbox">
                <label>
                    <input style="font-size: 18px;font-weight: bold;" type="checkbox"> I accept the Terms of Use & Privacy Policy.
                    <span class="checkmark"></span>
                </label>
            </div>
            <button type="submit" [disabled]="login.form.invalid">LogIn</button>
            <button class="btn" routerLink="/user/SignUp">Go SignUp</button>
        </form>
    </div>
</div>