<!-- 
<div class="container contstyle">
    <div class="row">
      
                          <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let light of lightsmallpet" (click)="showdetails(light)">
                            <div class="img-container m-0 p-0 shadow-sm">
                              <img src="{{light.image[0]}}" class="img-center img-fluid img-showcase" >
                              <div class="overlay d-flex flex-column align-items-center justify-content-center">
                                <h2 class="link-overlay "  title="Contoso Case">Contoso Case</h2>
                                <p class="d-block small ">{{light.name}}</p>
                              </div>
                            </div>
                          </div>
  
                      
  
  
    </div>                
  </div>
   -->


  <div class="container contstyle">
    <div class="row">
      <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let light of lightsmallpet" (click)="showdetails(light)">
        <div class="img-container m-0 p-0 shadow-sm">
          <img src="{{light.image[0]}}" class="img-center img-fluid img-showcase"style="width: 350px;height: 250px;" >
          <div class="overlay d-flex flex-column align-items-center justify-content-center">
            <h2>{{light.name}}</h2>
            <p class="d-block small ">{{light.price}} EGP</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  