
<div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Heavy Cats<br><br>Form</div>
        <form action="/heavy_cats/addheavycat" method="POST" #adminform='ngForm' novalidate (ngSubmit)="onSubmit()">
        
        <div class='input-fields'>
          
        
          <input  #name="ngModel" [(ngModel)]="catModel.name"  type='text' placeholder='name' name="name" class='input-line full-width' >
          <input  #size="ngModel" [(ngModel)]="catModel.size" type='text' placeholder='size' name="size" class='input-line full-width' >
         
          <input #lifespan="ngModel" [(ngModel)]="catModel.lifespan" type='number' placeholder='life span' name="lifespan" class='input-line full-width' >
          <input  #weight="ngModel" [(ngModel)]="catModel.weight" type='number' placeholder='weight' name="weight" class='input-line full-width'  >
          <input  #color="ngModel" [(ngModel)]="catModel.color"  type='text' placeholder='color' name="color" class='input-line full-width' >
          <input  #price="ngModel" [(ngModel)]="catModel.price" type='number' placeholder='price' name="price" class='input-line full-width' >
          <input  #temperament="ngModel" [(ngModel)]="catModel.temperament"  type='text' placeholder='temperament' name="temperament" class='input-line full-width'>
          <input  #images="ngModel" [(ngModel)]="catModel.images"  type='text' placeholder='images' name="images" class='input-line full-width' >
          
        </div>
       
        <div><button  type="submit" class='ghost-round full-width'>Add</button></div>
        </form>
      </div>
    </div>
  </div>


  